<div style="padding: 1em 0 0; text-align: center;">
    <button class="button1 -type-green {{ sendSciLoggerButtonClass }}"><span>{{ text_ToSciLogger }}</span></button>
    <span class="-defVal" style="line-height: 33px;">{{ loggerLink }}</span>
</div>
