.wt-btn-dev-mode {
  position: fixed;
  left: 0;
  top: 20px;
  background: black;
  color: white;
  padding: 5px 10px;
  z-index: 99999;
}

.wt-main-button {
  position: relative;
}

.wt-main-button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(icon-wt.png) no-repeat 50% 50%;
  background-size: contain;
  cursor: pointer;
}

.smenuIcon.wt-btn-main {
  background: url(icon-wt.png);
  background-size: contain;
}

.wt-options-window {
  text-align: left;
  padding: 10px;
}
.wt-options-window .wt-panel-body {
  padding: 0 10px 10px;
}
.wt-options-window h3 {
  text-align: center;
}

.wt-sections {
  display: flex;
}
.wt-sections > div {
  margin: 5px;
}

.wt-options-item {
  padding: 10px 5px;
  display: flex;
  align-items: center;
}
.wt-options-item--centered {
  justify-content: center;
}
.wt-options-item--between {
  justify-content: space-between;
}
.wt-options-item .wt-input {
  margin-right: 10px;
  min-width: 200px;
}

.wt-input {}

.wt-input::before { content: none; }

.wt-input::after { content: none; }

.wt-input__inner {
  display: block;
  height: 100%;
  position: relative;
  z-index: 1;
}

.wt-input select,
.wt-input input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  padding-left:5px;
  padding-right: 5px;
}
