<div>
    <button class="button1 -type-green {{ sendWarLoggerButtonClass }}" data-id="{{ reportId }}">
        <span>{{ text_ToWarLogger }}</span>
    </button>
    <div class="-defVal">{{ loggerLink }}</div>
</div>
